<ol class="breadcrumb">
  <li><%= link_to '返回', <%= index_helper %>_path %></li>
  <li class="active">New <%= singular_table_name.titleize %></li>
</ol>

<div class="row" style="margin: 0 60px;">
  <%= render 'form' %>
</div>